<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>01-nexus-mirror-maven-central</id>
            <mirrorOf>external:*,!nexus-releases,!nexus-snapshots</mirrorOf>
            <url>https://nexus.oberon-oss.eu/repository/maven-central/</url>
        </mirror>
    </mirrors>
</settings>